<!-- inheriting from group base html -->
{% extends "groups/group_base.html" %}
<!-- part that is not inherited -->
{% block pregroup %}
<div class="col-md-4">
    <div class="content">
        <!-- checking if user is authenticated -->
        {% if user.is_authenticated %}
        <!-- take you to all the list of your posts -->
        <a href="{% url 'posts:for_user'  username=user.username%}">@{{user.username}}</a>
        {% endif %}
        <!-- list of all the group -->
        <h2>Groups</h2>
        <p>Welcome to the groups page!</p>
   </div>
   <!-- checking if user is authenticated -->
   {% if user.is_authenticated %}
   <!-- Button for creating group -->
   <a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign">Create New Group</span></a>
   {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
    <div class="list-group">
        <!-- go through list of the groups  -->
        {% for group in object_list %}
        <a class="list-group-item" href="{% url 'groups:single' slug=group.slug%}">
            <!-- displaing the group name -->
            <h3 class="title list-group-item-heading">{{group.name}}</h3>
            <div class="list-group-item-text container-fluid">
                <!-- desplaying description about the group -->
                {{ group.description_html|safe}}
                <div class="row">
                    <div class="col-md-4">
                        <!-- Total number of group memebrs -->
                        <span class="badge">{{group.members.count}}</span>member{{group.member.count|pluralize}}
                    </div>
                    <div class="col-md-4">
                        <!-- Total number of posts in the group  -->
                        <span class="badge">{{group.posts.count}}</span> post{{group.posts.count|pluralize}}
                    </div>
                </div>
            </div>
        </a>
        {%  endfor %}
    </div>
</div>

{% endblock %}